body {
    background-image: url(file:///C:/Users/Nathan/Downloads/AdobeStock_341161779.jpeg);
    background-size: auto;
    font-family: 'Trebuchet MS';
}

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 2fr 1fr 5fr;
    text-align: center
}

h3 {
    font-size: 3rem;
    color: white;
}

.item-2 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

input {
   width: 5fr; 
   height: 35px;
   text-align: center;
   border-color: lightslategray;
   font-family: 'Trebuchet MS';
   font-size: 18px;
   box-shadow: 1px 1px 1px lightcyan;
   margin: 10px;
}

.addBtn {
    width: 1fr;
    height: 35px;
    font-family: 'Trebutchet MS';
    font-size: 17px;
    background-color: lightcyan;
    box-shadow: 1px 1px 1px lightslategray;
    margin: 10px;
}

.item-3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

ul li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    width: 1fr;
    margin: 15px;
    background: none;
    color: silver;
    text-align: center;
    font-size: 1.75rem;
    transition: 0.2s;
}

ul li.checked {
    color: #00ff95;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background: rgb(179, 52, 63);
    color: silver;

}

}